<a href="https://colab.research.google.com/github/trilgar/IAD2023/blob/main/%D0%97%D0%B0%D1%80%D0%B8%D1%86%D1%8C%D0%BA%D0%B8%D0%B9_CP1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


<center><font size="6"><b>Комп'ютерний практикум 1.

 Основи Python</b></font></center>


***

##<center>__Самостійні завдання__</center>

> Скопіювати блок самостійних завдань в окремий файл ***LastName_CP1.ipynb***

### Завдання №1

1. Створити цілочисельну змінну `x`. 
2. Змінити тип даних змінної `x` на дійсний.
3. Створити нову числову змінну `y`. 
4. Піднести змінну `x` до степеня `y` і зберегти результат як змінну `z`. (двома способами)
5. Вивести значення змінної `z` та її тип.

In [ ]:
x = int(24)
x = float(x)
y = int(3)
z = x**y
print("число {} має тип {}".format(z, type(z)))
z = pow(x, y)
print("число {} має тип {}".format(z, type(z)))

число 13824.0 має тип <class 'float'>
число 13824.0 має тип <class 'float'>

### Завдання №2

1. Вивести запис: **"{X} в степені {Y} дорівнює {Z}."**, використовуючи рядковий запис де X, Y та Z значення змінних.
2. Перетворіть рядок так, щоб можна було прочитати лише **"X в степені"**, с заду наперед.

> Очікуваний результат:
```python
x = 2
y = 3
"2 в степені 3 дорівнює 8."
"інепетс в 2"
```

In [ ]:
x = 2
y = 3

s = "{} в степені {} дорівнює {}.".format(x,y,x**y)
print(s)
substring = s[0:s.find(str(y))-1]
print(substring[::-1])

2 в степені 3 дорівнює 8.
інепетс в 2

### Завдання №3

1. Створіть новий список `my_list`, який містить 5 кольорів.
2. Перевірте чи є в вашому списку колір `"бузковий"`. Якщо немає, то додайте його використовуючи команду `append`.
3. Змініть перший елемент списку на `"рожевий"`.
4. Видаліть другий елемент списку та виведіть результат на екран.

In [ ]:
my_list = [
    "червоний",
    "помаранчевий",
    "жовтий",
    "зелений",
    "синій"
]
print(my_list)

c = "бузковий"
if(not (c in my_list)):
    my_list.append(c)
print(my_list)

my_list[0] = "рожевий"
print(my_list)

my_list.pop(1)
print(my_list)

['червоний', 'помаранчевий', 'жовтий', 'зелений', 'синій']
['червоний', 'помаранчевий', 'жовтий', 'зелений', 'синій', 'бузковий']
['рожевий', 'помаранчевий', 'жовтий', 'зелений', 'синій', 'бузковий']
['рожевий', 'жовтий', 'зелений', 'синій', 'бузковий']

### Завдання №4

1. Створіть словник з країнами та їх столицями (країна - ключ, столиця - значення): Німеччина, Франція, Україна, США, Румунія, Італія. Виведіть результа.
2. Додайте столицю Бельгії.
3. Виведіть лише столиці.

In [ ]:
d = {
    "Німеччина": "Берлін",
    "Франція": "Париж",
    "Україна": "Київ",
    "США": "Вашингтон",
    "Румунія": "Бухарест",
    "Італія": "Рим",
}
print(d)

d["Бельгія"] = "Брюссель"
print(d)

print(d.values())

{'Німеччина': 'Берлін', 'Франція': 'Париж', 'Україна': 'Київ', 'США': 'Вашингтон', 'Румунія': 'Бухарест', 'Італія': 'Рим'}
{'Німеччина': 'Берлін', 'Франція': 'Париж', 'Україна': 'Київ', 'США': 'Вашингтон', 'Румунія': 'Бухарест', 'Італія': 'Рим', 'Бельгія': 'Брюссель'}
dict_values(['Берлін', 'Париж', 'Київ', 'Вашингтон', 'Бухарест', 'Рим', 'Брюссель'])

### Завдання №5

Виведіть значення списку_1, що не містяться в списку_2.

> Очікуваний результат:
```python
[1,4,6,7]
```

In [ ]:
list_1 = [1,2,3,4,5,6,7]
list_2 = [2,5,3]

print([x for x in list_1 if x not in list_2])

[1, 4, 6, 7]

### Завдання №6

порахуйте всі входження слова "Наука" в рядок, без урахування регістру

> Очікуваний результат:
```python
3
```

In [ ]:
string = "Наука про дані – це наука про методи аналізу даних і вилучення\
 з них цінної інформації та знань. Вона тісно пов’язана з такими галузями, \
 як машинне навчання, наука про мислення, а також з технологіями для роботи \
 з великими даними."

print(string.lower().count('наука'))

3

### Завдання №7

Видаліть повтори зі списку та створіть кортеж. Знайдіть мінімальне та максимальне значення.

In [ ]:
my_list = [1, 4, 5, 10, 1, 3, 30, 100, 5]

deduplicated = [*set(my_list)]

print(deduplicated)

c = tuple(deduplicated)

print(c)

print(min(c))

print(max(c))

[1, 3, 4, 5, 100, 10, 30]
(1, 3, 4, 5, 100, 10, 30)
1
100

### Завдання №8

Дано дві множини  
1. перевірити чи є перша множина підмножиною другої
2. знайти об'єднання, перетин, різницю та симетричну різницю цих множин

In [ ]:
set_1 = {57, 83, 29}
set_2 = {67, 73, 43, 48, 83, 57, 29}

print(set_1.issubset(set_2))


print(set_1.union(set_2))
print(set_1.intersection(set_2))
print(set_1.difference(set_2))
print(set_1.symmetric_difference(set_2))

True
{67, 73, 43, 48, 83, 57, 29}
{57, 83, 29}
set()
{48, 67, 73, 43}

### Завдання №9

Дано рядок `string`, порахувати кількість входжень літер "а", "д" та "н" та створити словник з цих літер та кількістю їх входжень. Вивести пари ключ-значення на екран

> Очікуваний результат:
```python
dict_items([('а', 24), ('д', 5), ('н', 25)])
```

In [ ]:
string = "Наука про дані – це наука про методи аналізу даних і вилучення\
 з них цінної інформації та знань. Вона тісно пов’язана з такими галузями, \
 як машинне навчання, наука про мислення, а також з технологіями для роботи \
 з великими даними."

d = {
    'а': string.count('а'),
     'д': string.count('д'),
     'н': string.count('н'),
}
print(d)

{'а': 24, 'д': 5, 'н': 25}

### Завдання №10

Знайти суму всих елеменів словника

> використайте функцію `map()`, яка використовується для застосування функції до кожного елементу итеруючого об'єкту (наприклад, списку чи словника) та повернення нового ітератора для отримання результів.

> Функция `map()` имеет следующий синтаксис:
```
map(function, iterable, [iterable 2, iterable 3, ...])

> Очікуваний результат
```python
390
```

In [ ]:
my_dict = {'a': [10, 20, 30, 40],
           'b': [22, 11, 33, 44],
           'c': [12, 34, 56, 78]}

print(sum(map(sum, my_dict.values())))

390

### Завдання №11

Знайдіть друге найменше та друге найбільше значення в списку та виведіть на екран такий запис:

```python
"Друге найменше значення - 1 та друге найбільше значення - 398."
```

In [ ]:
my_list = [1,200, 34, 65, 499, 11, -4, 42, 398, 12, 3, 100]

s = sorted(my_list)
print("Друге найменше значення - {} та друге найбільше значення - {}.".format(s[1], s[-2]))

Друге найменше значення - 1 та друге найбільше значення - 398.

### Завдання №12

Об'єднайте наступні словники в один.

> Очікуваний результат:
```python
{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
```

In [ ]:
dic1 = {1:10, 2:20}
dic2 = {3:30, 4:40}
dic3 = {5:50, 6:60}

print({**dic1, **dic2, **dic3})

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

### Завдання №13
Створіть словник з наступних списків. Використайте функцію`zip()`

>Функція `zip(a, b)` створює об'єкт-ітератор, з якого при кожному обороті циклу створюється кортеж - впорядкована пара $(a_i, b_i)$ 

>Очікуваний результат:
```python
{'червоний': '#FF0000', 'зелений': '#008000', 'синій': '#0000FF'} 
```

In [ ]:
keys = ['червоний', 'зелений', 'синій']
values = ['#FF0000','#008000', '#0000FF']



print(dict(zip(keys, values)))

{'червоний': '#FF0000', 'зелений': '#008000', 'синій': '#0000FF'}